/* index - main table */

/* the div inserted into main table that holds the new url limiter status icon */
.uniwue-url-limiter-table-url-column {
    text-align: center;
}
/* the url limiter status icon  */
.uniwue-url-limiter-table-url-icon {
    height: 20px;
    width: 20px;
    white-space: nowrap;
}
/* the action button that is appended to the action button list */
.button_uniwue-url-limiter {
    background: url('../imgs/both.svg') 0px center no-repeat;
    background-size: 23px;
    background-position: center;
    border: none;
    padding: 3px;
    border-radius: 2px;
}
/* the status filter in the footer of the table */
#uniwue-url-limiter-table-control-limiter-status {
    display: none;
}

.uniwue-url-limiter-form-item {
    margin-top: 25px;
}
.uniwue-url-limiter-form-field-text {
    font-size: 14px;
}
.uniwue-url-limiter-form-error {
    color: red;
}
